[Unit]
Description=The timer of clamd full scan
Requires={{ clamav_clamd_fullscan_service_name }}

[Timer]
Unit={{ clamav_clamd_fullscan_service_name }}
OnCalendar={{ clamav_clamd_fullscan_on_calender }}

[Install]
WantedBy=timers.target
