[Unit]
Description=The clamd full scan
Wants={{ clamav_clamd_fullscan_timer_name }}

[Service]
Type=oneshot
User=root
Group=root
ExecStart={{ clamav_clamd_fullscan_path }}

[Install]
WantedBy=multi-user.target
