#!/bin/sh

DATE=$(date)
HOSTNAME=$(hostname)
LOGPATH=/var/log/clamav/clamdscan.log
clamdscan \
  --fdpass \
  --move=/var/log/clamav/virus \
  --log=$LOGPATH \
  /

if [ ! -z "$(grep FOUND$ ${LOGPATH})" ]; then
  echo "virus was found."
  cat /var/log/clamav/clamscan.log | mail -s "[Virus Found] ${HOSTNAME} ${DATE}" {{ clamav.mail_to }}
fi
